
.Header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: solid 0.5px #F9F9F9;
  margin:0px 120px;
}

.logo {
  margin-left: 3px;
  height: 93px;
}

.headLogo{
  display: flex;
}

.logoNav{
  display: flex;
  align-items: flex-end;

}

.nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.postThumb {
  margin-left: 3px;
  height: 60px;
  border-radius: 50px;
}



.postRow {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: flex-end;
}

.postInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.icon {
  display: flex;
  height: 35px;
  width: auto;
  border: 1px solid #F9F9F9;
  border-radius: 2px;
  padding: 2px;
  align-items: center;
}






.iconPhoto {
  height: 35px;
  border-radius: 50px;
}

.postContainer {
  width: 70%;
}

.profilePic {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.constant {
  display: flex;
  padding: 0px 120px;

}
.newPost {
  margin-top: 90px;
  margin-left: 80px;
  background-color: #F9F9F9;
  /* width:80%; */
  border: solid .5px lightgray;
  border-radius: 2px;
  
  
}

.postBody{
  display: flex;
  text-align: center;
  overflow-wrap: break-word;
}

.loading{
  margin: 0% 50%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width:30%;
}

.news{
  height: 800px;
  border: solid #eaf0f9 1px;
 margin:10px 0px 0px 80px;
 
}

.postNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border: .5px lightgray solid;
  padding: 0px 10px;
  background-color: #F9F9F9;
  box-shadow: 1px 1px 1px lightgray;
  /* margin-bottom: 1px; */
  border-radius: 2px;
  
}

.sort{
  display: flex;
  align-items: center;
  width: 110px;
  justify-content: space-between;
  
  
}



.sortButton:hover{
  cursor: pointer;
}

.sortButton:focus{
  color: lightgrey;
  border:none;
  background-color: #eaf0f9;
}

.likesPosts{
  display: flex;
  width: 150px;
  justify-content: space-between;
}
