.Header {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: solid 0.5px lightgrey;
}

.logo {
  margin-left: 3px;
  height: 93px;
}

.nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.postThumb {
  margin-left: 3px;
  height: 60px;
  border-radius: 50px;
}

.postRow {
  display: flex;
  border: solid 0.5px black;
  height: 90px;
}

.postInfo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
}

.icon {
  display: flex;
  height: 35px;
  width: auto;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 2px;
  align-items: center;
}

.iconPhoto {
  height: 35px;
  border-radius: 50px;
}

.postContainer {
  width: 70%;
}

.profilePic {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.constant {
  display: flex;
}
.newPost {
  height: 40px;
  width: 30%;
}

.postBody{
  display: flex;
  text-align: center;
  overflow-wrap: break-word;
}

.loading{
  margin: 0% 50%;
}