

.Header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: solid 0.5px #F9F9F9;
  margin:0px 120px;
  
}

.search{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  margin: 0px 60px;
  
}

.constant {
  display: flex;
  padding: 0px 120px;

}

.double{
  margin:0px 120px;
  margin:0px 60px;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  margin-left: 3px;
  height: 93px;
}

.headLogo{
  display: flex;
}

.logoNav{
  display: flex;
  align-items: flex-end;

}

.nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 450px;
  border: solid #F9F9F9 .5px;
  margin: 5px 0px;
}

.profilePic {
  display: flex;
  margin-top: 10px;
  height: 150px;
  width: 150px;
}

.nameImg{
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  flex-direction: column;
  font-weight: bolder;
}
.likesPosts{
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 15px;
  margin-bottom: 10px;
  
}

button{
  padding: 5px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px;
}

button:hover{
  background-color: #F9F9F9;
  cursor: pointer;
}

input{
  height: 18px;
}




.postRow {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: flex-end;
}

.postInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.icon {
  display: flex;
  height: 35px;
  width: auto;
  border: 1px solid #F9F9F9;
  border-radius: 2px;
  padding: 2px;
  align-items: center;
}






.iconPhoto {
  height: 35px;
  border-radius: 50px;
}

.iconHeader{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

}

.newPostBody{
  border: solid .5px #F9F9F9;
  height: 450px;
  width: 100%;
}
.profileContainer{
  width: 70%;
}
.postContainer {
  /* margin-top:60px; */
  width: 70%;
}




.newPost {
  margin-top:1px;
  margin-left: 80px;
  background-color: #F9F9F9;
  width: 80%;
  border: solid .5px lightgray;
  border-radius: 2px;
  
  
}

.sideBarImg{
  height: 90px;
  margin-left: 80px;
  
}

.sayLess{
  width:100%;
  height: 100%;
}

.postBody{
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
  font-size:100%; 
  line-height:1.5;
  max-width: 100%;
}
@media (max-width:350px){
  .comments span{
    max-width: 180px;
    overflow-wrap: break-word;
    }
    .postCard div{
      padding-right: 40px !important;
    }
    .profileCard {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 250px;
      width: 100%;
      border: solid #F9F9F9 .5px;
      margin: 5px 0px;
    }
}


.loading{
  margin: 0% 50%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width:30%;
}

.news{
  height: 1200px;
 margin:0px 0px 0px 80px;
 overflow: scroll; 
}

.newsPic{
 
  width: 150px;
}

 a{
  color: black;
  text-decoration: none;
}

.postNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border: .5px lightgray solid;
  padding: 0px 10px;
  background-color: #F9F9F9;
  box-shadow: 1px 1px 1px lightgray;
  /* margin-bottom: 1px; */
  border-radius: 2px;
  
}

.sort{
  display: flex;
  align-items: center;
  width: 110px;
  justify-content: space-between;
  
  
}



.sortButton:hover{
  cursor: pointer;
  font-weight: bolder;
}

.sortButton:focus{
  color: lightgrey;
  border:none;
  background-color: #eaf0f9;
}



.thumbRow{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: solid .5px #eaf0f9;
  height: 70px;
  box-shadow: 1px 1px 1px #eaf0f9;
}

.inThumb{
  display: flex;
  height:100%;
}

.postThumb {
  margin-left: 3px;
  height: 40px;
  border-radius: 2px;
}

.secondInThumb{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content:space-around;
  margin-left: 5px;
}

.thirdInThumb{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;;
  height: 100%;
  width: 200px;
}

.categoryThumb{
background-color: #eaf0f9;
font-size: 14px;
padding: 2px;
}

.nameThumb{
  font-size: 14px;
  font-weight: bold;
}

.titleThumb{
  
  font-size: 16px;
  font-weight: bolder;
}
/* .thumbName{
  height: 100%;
  display: flex;
  align-items: center;
} */


@media (max-width:1024px) {
  .constant {
    display: flex;
    padding: 0px 120px;
  
  }

  .news{
    display: none;
  }

  .postContainer{
    width: 100%;
  }

  .profileContainer{
    width: 100%;
  }
  .sidebar{
    display: none;
  }

  .newPost {
    display: none;
    
  }
  .iconName{
    display: none;
  }
  
}

@media(max-width:1080px){
  .searchBar{
    width:200px;
    display:flex;
    align-items: flex-end;
  }
}

@media (max-width:960px){
  .nav{
    display: none;
  }
  .thirdInThumb{
    display: none;
  }
  .iconName{
    display: flex;
  }
}
@media (min-width:1024px){
  .responseNewPost{
    display: none !important;
  }
}

@media(min-width:960px){
  .responseMenu{
    display: none !important;
  }
}

@media(max-width:960px){
  .shortMenu{
    display: none !important;
  }
}

@media(max-width:700px){
  .searchBar{
    width:200px;
    display:flex;
    align-items: flex-end;
  }
button{
  margin-bottom: 5px;
}
  
.iconHeader{
  width: 30px;
}
  .thumbRow{
    height:100px;
  }
  .constant {
    display: flex;
    padding: 0px 10px;
  
  }
  .postContainer {
    margin-top:0px;
    width: 100%;
  }
  .Header {
    height: 100px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: solid 0.5px #F9F9F9;
    margin:0px 0px;
    
  }
  .double{
    height: 100px;
    display: flex;
   
    margin:0px 0px;
  }

  .doubleImage{
    display: none;
  }
    
  
}

@media(min-width:700px){
  .logInResponseMenu{
    display: none !important;
  }
}